.header {
    grid-area: h;
    background-color: #1e2638;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: fff;
}

.header a {
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
}

.header img {
    padding: 5px;
    width: 50px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}

.colorLogin {
    color: white;
}

.unlogged {
    background: #17428c;
    border-radius: 20px;
    padding: 10px;
}

.logged {
    background: #000000;
    border-radius: 10px;
    padding: 9px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.login {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}