.nav {
    grid-area: n;
    background-color: #4267B2;

}

.item a {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-family: Arial;
    position: relative;
}

.item a.activeLink {
    color: white;
}

.item a:hover {
    background-color: #25272E;
}

.item a:active {
    color: #fff;
    text-shadow: 0px -1px 0px #25272E, 0px 0px 5px #25272E, 0px 0px 8px #25272E;
    box-shadow: 0px 1px 0px #25272E, 0px 2px 0px #25272E, 0px 2px 2px rgba(0, 0, 0, .9);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}