.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    max-width: 300px;
    margin: 0 auto;
}

.login h1 {
    color: #fff;
}

.login a {
    text-decoration: none;
}

.login input {
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
}

.login button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    transition: all .2s linear;
}

.login button:hover {
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background: #0d1380;
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    row-gap: 10px;
}

.error {
    margin-left: 10px;
    color: red;
    font-weight: bold;
}