.app-wrapper {
  margin: 0px auto;
  display: grid;
  width: 100%;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #1e2638;
}

body {
  font-size: 16px;
  color: #a9c0cf;
  font-family: Arial;

}