.formControl.error input,
.formControl.error textarea {
    border: solid blueviolet 5px;
}

.formControl.error span {
    color: aquamarine;
}

.formSummaryError {
    border: solid blueviolet 5px;
    padding: 10px;
    color: burlywood;
}

.error {
    margin-left: 10px;
    color: red;
    font-weight: bold;
}